[Desktop Entry]
Type=Application
Categories=GNOME;GTK;Settings;DesktopSettings;
Exec=sh -c "cd /home/gymka/Dev/conky_orai_LT/; conky -c ./.conky"
Name=conky-orai
Terminal=false
StartupNotify=false

